:root {
    --blanco:             #ffffff;
    --grisClaro:          #f2f2f2;
    --grisMedio:          #c0c0c0;
    --gris:               #474b4e;
    --grisOscuro:         #2e2e2e;
    --negro:              #000000;
    --principal:          #27374D;
    --principal-2:        #526D82;
    --principal-3:        #9DB2BF;
    --principal-4:        #DDE6ED;
    --secundario:         #ff9300;
    --secundario-oscuro:  #ac6a0f;
  }

/* GLOBALES */

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box; /* BOX MODEL REDIMENSION HACK */
}
*, *:before, *:after {
    box-sizing: inherit; /* BOX MODEL REDIMENSION HACK */
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Montserrat', sans-serif;
}

/* UTILIADADES */
.sombra {
    box-shadow: 2px 2px 15px 0px var(--negro);
}
.container {
    max-width: 120rem;
    margin: 0 auto;
}
.bg-color {
    background-color: var(--principal);
}

/* TIPOGRAFIAS */
h1 {font-size: 3.8rem;}
h2 {font-size: 2.8rem;}
h3 {font-size: 1.8rem;}
p {margin: 0;}

/* NAVEGACIÓN */
.logotipo {
    text-align: center;
    padding: 1.5rem;
}
.navegacion {
    display: flex;
    justify-content: space-evenly;
}
.navegacion__enlace {
    color: var(--blanco);
    padding: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: background-color .2s ease ;
}
.navegacion__enlace:hover {
    background-color: var(--principal-2);
}

/* HEADER */
.header {
    background-image: url(../img/bg-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
}
.header__texto {
    font-size: 2.3rem;
}
.header__texto--h1 {
    color: var(--blanco);
    margin: 0;
    padding: 4.8rem 0 0 4rem;
    text-transform: uppercase;
}
.header__texto--parrafo {
    color: var(--secundario);
    margin: 0;
    padding: 0.5rem 0 0 4rem;
}

/* ICONOS */
.habilidades {
    text-align: center;
    color: var(--principal);
    text-transform: uppercase;
    padding-bottom: 3rem;
    font-size: 4.5rem;
}
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    max-width: 90%;
    margin: 0 auto;
    color: var(--principal);
}
.bloque {
    text-align: center;
}
.bloque__medio {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.bloque__titulo {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: 0;
    text-transform: uppercase;
}
@media (min-width: 768px) { 
    .bloques {
        grid-template-columns: repeat(3, 1fr);
    }
    .bloque__medio {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}
